<form class="form" action="/business/checkin/{{business.id}}" method="post">
<h1>{{business.name}}</h1>
  <label for="name" class="form-item">
    Customer name:
    <input type="text" name="name" id="name" >
  </label>
  
  <label for="email" class="form-item">
    Customer email:
    <input type="text" name="email" id="email">
  </label>
  
  <input type="submit" value="Submit">
</form>