
<div class="container">
  {{#each businesses}}
  <a href="business/{{id}}">
  <div class="business">
    
      {{name}} 
      <img class="logo" src='/logos/{{logo}}' alt={{name}}>
  </div>
    </a>
  {{/each}}
</div>