
<div class="queue">
  {{#each tickets}}
   <img class="logo" src='/logos/{{logo}}' alt={{name}}>
    <h2><a href="mailto:{{email}}">{{name}}</a></h2>
    <h3>x minutes wait</h3>
    <form action="" method="POST">
      <button class="btn-join">Leave queue</button>
    </form>
    <div>
      <a href="/">Back to main menu</a>
    </div>
  {{/each}}
</div>