<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FreeQ</title>
  <link href="/styles.css" rel="stylesheet">
</head>

<body>
  <h1 style="text-align: center;">FreeQ</h1>
  {{{body}}}
  <br>
  <br>
  <br>
  <div style="text-align: center; margin">by the fridayFreaks</div>
</body>
</html>